<html>
<style>
	p{
		color: black;
		margin:5px;
		margin-right: 2px;
		padding: 4px;
		background: gray;
		border: 1px black;
	}
	section{
		position: relative;
		left:80%;
		width: 18%;
		padding: 5px;
		color:blue;
		height: 30px;
		border: 1px red;
		background-color: rgb(109, 247, 203);
	}
	.color1{
		background-color: rgb(235, 202, 113);
		color: white;
	}
	#color2{
		background-color: rgb(80, 230, 120);
		color: black;
	}
</style>
</html>